:root {
  --amplify-primary-color: #1890FF;
  --amplify-primary-tint: #1890FF;
  --amplify-primary-shade: #1890FF;
}

amplify-authenticator {
      --amplify-primary-color: #1890FF;
      --amplify-primary-tint: #1890FF;
      --amplify-primary-shade: #1890FF;
      display: 'flex';
      justifyContent: center;
      alignItems: center;
      flex: 1;
      height: 100vh;
}